__pycache__/config.cpython-38.pyc
__pycache__/player_info.cpython-38.pyc
__pycache__/player.cpython-38.pyc
__pycache__/config.cpython-39.pyc
__pycache__/player_info.cpython-39.pyc
__pycache__/constants.cpython-39.pyc
__pycache__/data.cpython-39.pyc
__pycache__/player.cpython-39.pyc
__pycache__/socket_operations.cpython-39.pyc
